.app-container {
  padding: 10px;
}

.navigation-bar nav {
  display: flex;
  margin-bottom: 70px;
}

.navigation-bar ul {
  display: flex;
  list-style-type: none;
}

.navigation-bar ul > li {
  margin-left: 12px;
}